examples/02-inject_once_after_flow_started.json
[{"id":"624858d5a1e353ea","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":150,"y":200,"wires":[["c1366f7b3568372a"]]},{"id":"c1366f7b3568372a","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"9ff3f9c2eb5b91a4","type":"comment","z":"7cabc8e221eacc0f","name":"[none]: Inject once after flow started","info":"### [EN]\nFlow can also be set to run once every time it starts, for example when \"Deploy\" is clicked or when the server starts.\n\n### [TR]\nFlow her başladığında, örneğin \"Deploy\"a basıldığında veya sunucu start olduğunda bir kez çalışacak şekilde de ayarlanabilir.","x":200,"y":160,"wires":[]}]