examples/03-every_at_15_seconds.json
[{"id":"8e6db215fc2396e9","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":150,"y":320,"wires":[["49daf001342071c5"]]},{"id":"49daf001342071c5","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":320,"wires":[]},{"id":"b819bad39c7ef2a5","type":"comment","z":"7cabc8e221eacc0f","name":"[interval]: Every at 15 seconds","info":"### [EN]\nIt is an example of administering an injection every 15 seconds.\n\n### [TR]\nHer 15 saniyede bir enjeksiyon uygulanma örneğidir.","x":180,"y":280,"wires":[]}]