examples/12-every_at_10_seconds.json
[{"id":"4744edf87ea6b605","type":"comment","z":"7cabc8e221eacc0f","name":"12 [msg]: Every at 10 seconds","info":"### [EN]\nInject every 10 seconds.\n\n### [TR]\nHer 10 saniyede bir enjekte et.","x":180,"y":1360,"wires":[]},{"id":"1106aa0f9c0d6301","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":1,"hasButton":false,"x":340,"y":1440,"wires":[["0b7e3fb5af8a40a8"]]},{"id":"041d010fe0412e49","type":"crontinject","z":"7cabc8e221eacc0f","name":"Create Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"repeat\":10}","payloadType":"json","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":160,"y":1400,"wires":[["1106aa0f9c0d6301"]]},{"id":"8a076f1a4d692cdd","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1440,"wires":[]},{"id":"0b7e3fb5af8a40a8","type":"function","z":"7cabc8e221eacc0f","name":"save schedule id","func":"if(msg.schedule && !msg.schedule.cancel) {\n    if(msg.schedule.cancel) {\n        // Canceled Schedule\n        /* Silent is gold */\n    } else {\n        // Created Schedule\n        flow.set(\"repeatSchedulePayload\", {\"_id\": msg.schedule.self._id})\n    } \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1440,"wires":[["8a076f1a4d692cdd"]]},{"id":"199220f1a3bbb940","type":"crontinject","z":"7cabc8e221eacc0f","name":"Cancel Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"repeatSchedulePayload","payloadType":"flow","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":160,"y":1480,"wires":[["1106aa0f9c0d6301"]]}]