examples/14-Every_at_12-30_clock_between_april_15th_to_25th_and_may_15th_to_25th.json
[{"id":"cff9817055f418a0","type":"comment","z":"7cabc8e221eacc0f","name":"14 [msg]: Every at 12:30 clock between april 15th to 25th and may 15th to 25th","info":"### [EN]\nInject at 12:30 between the 15th and 25th of April and the 15th to the 25th of May, to be repeated annually.\n\n### [TR]\nHer yıl tekrarlanacak şekilde, Nisan ayının 15'i ile 25'i arasında ve Mayıs ayının 15'i ile 25'i arasında saat 12:30'da enjeksiyon yap.","x":330,"y":1760,"wires":[]},{"id":"3a3aa22d22020668","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":1,"hasButton":false,"x":340,"y":1840,"wires":[["dbc46cb506c0ca6f"]]},{"id":"815bcd4aa95d2d09","type":"crontinject","z":"7cabc8e221eacc0f","name":"Create Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"crontiMethod\":\"onIntervalTime\",\"crontiArgs\":[\"2022-04-15T09:30:00.000Z\",\"2022-05-25T09:30:00.000Z\"]}","payloadType":"json","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":160,"y":1800,"wires":[["3a3aa22d22020668"]]},{"id":"40f10f044d22d902","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1840,"wires":[]},{"id":"a1c80e8f79393560","type":"crontinject","z":"7cabc8e221eacc0f","name":"Cancel Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"crontiSchedulePayload","payloadType":"flow","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":160,"y":1880,"wires":[["3a3aa22d22020668"]]},{"id":"dbc46cb506c0ca6f","type":"function","z":"7cabc8e221eacc0f","name":"save schedule id","func":"if(msg.schedule && !msg.schedule.cancel) {\n    if(msg.schedule.cancel) {\n        // Canceled Schedule\n        /* Silent is gold */\n    } else {\n        // Created Schedule\n        flow.set(\"crontiSchedulePayload\", {\"_id\": msg.schedule.self._id})\n    } \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1840,"wires":[["40f10f044d22d902"]]}]