examples/15-every_at_15_seconds.json
[{"id":"090a8ed6537fc771","type":"comment","z":"7cabc8e221eacc0f","name":"15 [msg]: Every at 15 seconds","info":"","x":600,"y":1980,"wires":[]},{"id":"c9134d07f9d664bd","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":1,"hasButton":false,"x":770,"y":2060,"wires":[["820a49842ef3d64f"]]},{"id":"3f969eddb2d921f1","type":"crontinject","z":"7cabc8e221eacc0f","name":"Create Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"crontiMethod\":\"interval\",\"count\":\"15\",\"units\":\"s\"}","payloadType":"json","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":590,"y":2020,"wires":[["c9134d07f9d664bd"]]},{"id":"e47e87616dbdb148","type":"crontinject","z":"7cabc8e221eacc0f","name":"Cancel Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"crontiSchedulePayload","payloadType":"flow","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":590,"y":2100,"wires":[["c9134d07f9d664bd"]]},{"id":"820a49842ef3d64f","type":"function","z":"7cabc8e221eacc0f","name":"save schedule id","func":"if(msg.schedule && !msg.schedule.cancel) {\n    if(msg.schedule.cancel) {\n        // Canceled Schedule\n        /* Silent is gold */\n    } else {\n        // Created Schedule\n        flow.set(\"crontiSchedulePayload\", {\"_id\": msg.schedule.self._id})\n    } \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2060,"wires":[["14cb1881501d310e"]]},{"id":"14cb1881501d310e","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":2060,"wires":[]}]