examples/16-every_1_minutes_in_between_00-00_and_01-00_hours_of_everyday
[{"id":"fcc952480045ea50","type":"comment","z":"7cabc8e221eacc0f","name":"16 [msg]: Every 1 minutes in between 00:00 and 01:00 hours of everyday","info":"","x":740,"y":2220,"wires":[]},{"id":"953059a53f75c78d","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":1,"hasButton":false,"x":770,"y":2300,"wires":[["f9f1f88a70a693e2"]]},{"id":"0c7f532560d9d80b","type":"crontinject","z":"7cabc8e221eacc0f","name":"Create Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"crontiMethod\":\"interval-time\",\"count\":\"1\",\"startTime\":0,\"endTime\":1,\"days\":[0,1,2,3,4,5,6]}","payloadType":"json","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":590,"y":2260,"wires":[["953059a53f75c78d"]]},{"id":"3069088a95d9ecab","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":2300,"wires":[]},{"id":"355d505925575861","type":"crontinject","z":"7cabc8e221eacc0f","name":"Cancel Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"crontiSchedulePayload","payloadType":"flow","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":590,"y":2340,"wires":[["953059a53f75c78d"]]},{"id":"f9f1f88a70a693e2","type":"function","z":"7cabc8e221eacc0f","name":"save schedule id","func":"if(msg.schedule && !msg.schedule.cancel) {\n    if(msg.schedule.cancel) {\n        // Canceled Schedule\n        /* Silent is gold */\n    } else {\n        // Created Schedule\n        flow.set(\"crontiSchedulePayload\", {\"_id\": msg.schedule.self._id})\n    } \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2300,"wires":[["3069088a95d9ecab"]]}]