examples/17-everyday_at_12-00_clock
[{"id":"633d55222fef3b54","type":"comment","z":"7cabc8e221eacc0f","name":"17 [msg]: Everyday at 12:00 clock","info":"","x":620,"y":2440,"wires":[]},{"id":"5b358aa1d98580a6","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":1,"hasButton":false,"x":770,"y":2520,"wires":[["47c26bd9c40e406e"]]},{"id":"3eaca72b64e5fec4","type":"crontinject","z":"7cabc8e221eacc0f","name":"Create Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"crontiMethod\":\"time\",\"time\":\"12:00\",\"days\":[0,1,2,3,4,5,6]}","payloadType":"json","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":590,"y":2480,"wires":[["5b358aa1d98580a6"]]},{"id":"7dee3ac30a28d513","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":2520,"wires":[]},{"id":"1983ba77f6dba9c9","type":"crontinject","z":"7cabc8e221eacc0f","name":"Cancel Schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"crontiSchedulePayload","payloadType":"flow","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":590,"y":2560,"wires":[["5b358aa1d98580a6"]]},{"id":"47c26bd9c40e406e","type":"function","z":"7cabc8e221eacc0f","name":"save schedule id","func":"if(msg.schedule && !msg.schedule.cancel) {\n    if(msg.schedule.cancel) {\n        // Canceled Schedule\n        /* Silent is gold */\n    } else {\n        // Created Schedule\n        flow.set(\"crontiSchedulePayload\", {\"_id\": msg.schedule.self._id})\n    } \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2520,"wires":[["7dee3ac30a28d513"]]}]