examples/every_at_01-21_clock.json
[{"id":"a5f27d3ad5d2be90","type":"comment","z":"7cabc8e221eacc0f","name":"[msg]: Every at 01:21 clock","info":"### [EN]\nInject at 01:21 every day.\n\n### [TR]\nHergün saat 01:21'da enjeksiyon yap.","x":170,"y":1480,"wires":[]},{"id":"baad86fb4787450e","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":1,"hasButton":false,"x":360,"y":1520,"wires":[["b9f77a63f68bb33c"]]},{"id":"316c83abc534579c","type":"crontinject","z":"7cabc8e221eacc0f","name":"{\"crontab\":\"21 1 * * *\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"crontab\":\"21 1 * * *\"}","payloadType":"json","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":180,"y":1520,"wires":[["baad86fb4787450e"]]},{"id":"b9f77a63f68bb33c","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":1520,"wires":[]}]