examples/Everyday at 12.00 clock.json
[
    {
        "id": "ed094745168c8f61",
        "type": "crontinject",
        "z": "7cabc8e221eacc0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "crontiMethod": "",
        "crontiArgs": "[]",
        "inputs": 0,
        "hasButton": true,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "8823437488a4d21a"
            ]
        ]
    },
    {
        "id": "8823437488a4d21a",
        "type": "debug",
        "z": "7cabc8e221eacc0f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 460,
        "wires": []
    },
    {
        "id": "a9019c2cd03f02cc",
        "type": "comment",
        "z": "7cabc8e221eacc0f",
        "name": "Everyday at 12:00 clock",
        "info": "### [EN]\nIt injects at 12:00 every day.\n\n### [TR]\nHer gün saat 12:00'da enjekte eder.",
        "x": 180,
        "y": 420,
        "wires": []
    }
]