examples/every_at_7_days_in_date.json
[{"id":"b6ff20e1e8403f38","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"onWeek","crontiArgs":"[\"1FD\",\"2022-10-21T00:00\"]","inputs":0,"hasButton":true,"x":150,"y":680,"wires":[["b08d49d9acc60d37"]]},{"id":"b08d49d9acc60d37","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":680,"wires":[]},{"id":"c56052b8d550976a","type":"comment","z":"7cabc8e221eacc0f","name":"[week of date]: Every at 7 days in date","info":"### [EN]\nInjects for the 7 days that the selected date is in. Attention, if the week falls on a day earlier than the day you selected it, it rolls over to the next year.\n\nNote: You should choose the first day of the week according to the region you live in. By default it is Sunday.\n\n### [TR]\nSeçilen tarihin içinde bulunduğu 7 gün için enjekte eder. Dikkat, eğer hafta seçiminde bulunduğun günden daha eski bir güne gelirse bir sonraki yıla devreder.\n\nNot: Yaşadığın bölgeye göre haftanın ilk gününü seçmelisin. Varsayılan olarak pazar günüdür.","x":210,"y":640,"wires":[]}]