examples/every_day_at_04-00_clock_of_may.json
[{"id":"ab4ae23b658f9d58","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"onTime","crontiArgs":"[\"1FD\",\"4M\",\"nullW\",\"nullWD\",\"04:00\"]","inputs":0,"hasButton":true,"x":150,"y":920,"wires":[["a33b76a23982d5c9"]]},{"id":"a33b76a23982d5c9","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":920,"wires":[]},{"id":"4b09f8a5463d035e","type":"comment","z":"7cabc8e221eacc0f","name":"[advanced]: Every day at 04:00 clock of may","info":"### [EN]\nInject at 4:00 am every day of May.\n\n### [TR]\nMayıs ayının her günü saat 04:00'da enjeksiyon yap.","x":230,"y":880,"wires":[]}]