examples/every_year_at_01-10_clock_on_october_22.json
[{"id":"67d0a396320aad35","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"onDate","crontiArgs":"[\"2022-10-22T01:10\",true]","inputs":0,"hasButton":true,"x":150,"y":1280,"wires":[["5b0e2a90411ca074"]]},{"id":"5b0e2a90411ca074","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":1280,"wires":[]},{"id":"cf2756146694e907","type":"comment","z":"7cabc8e221eacc0f","name":"[date]: Every year at 01:10 clock on october 22","info":"### [EN]\nInject at 1:10 a.m. on October 22 each year.\n\n### [TR]\nHer yıl 22 Ekim'de saat 01:10'da enjeksiyon yap.","x":230,"y":1240,"wires":[]}]