examples/every_at_01-10_clock_22nd_of_each_month_every_year.json
[{"id":"73b1a86b84a7f8ac","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"onDate","crontiArgs":"[\"2022-10-22T01:10\",false]","inputs":0,"hasButton":true,"x":150,"y":1160,"wires":[["b1338699fe848530"]]},{"id":"b1338699fe848530","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":1160,"wires":[]},{"id":"f7686251d894ba37","type":"comment","z":"7cabc8e221eacc0f","name":"[date]: Every at 01:10 clock 22nd of each month every year","info":"### [EN]\nInject at 1:10 am on the 22nd of each month every year.\n\n### [TR]\nHer yıl her ayın 22'sinde saat 01:10'da enjeksiyon yap.","x":270,"y":1120,"wires":[]}]