examples/only_manuel_trigger.json
[{"id":"8343da4ac3673519","type":"crontinject","z":"7cabc8e221eacc0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","crontiMethod":"","crontiArgs":"[]","inputs":0,"hasButton":true,"x":140,"y":80,"wires":[["16f16e861f482c11"]]},{"id":"16f16e861f482c11","type":"debug","z":"7cabc8e221eacc0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"9b479ac86f3b99e5","type":"comment","z":"7cabc8e221eacc0f","name":"[none]: Only manuel trigger","info":"### [EN]\nIt injects with manual triggering.\n\n### [TR]\nManuel tetikleme ile enjeksiyon yapar.","x":170,"y":40,"wires":[]}]